@import "@/app/utils/globalColors.scss";
.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  background-color: $bg-container;
  min-width: 70%;
  max-width: 80%;
}

.dateGroup {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: space-between;
  .date {
    color: $text-black;
    flex-basis: 100%;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    border-bottom: 3px solid $border-color;
  }
  .appointmentCard {
    &:hover {
      background-color: $bg-hover-light-green;
      cursor: pointer;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: $bg-container;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    flex-basis: 45%;
    max-width: 100%;
    margin-bottom: 1rem;
    .time {
      color: $text-black;
      font-weight: 800;
      font-size: 1.2em;
      margin-bottom: 0.3em;
    }
    .details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-basis: 100%;
      .field {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 0;
        border-bottom: 1px solid $border-color;
        .label {
          font-weight: bold;
          color: $label-color;
          text-decoration: cap;
          text-transform: capitalize;
        }
        .value {
          color: $text-black;
        }
      }
    }
  }
}
.appointmentsNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: $bg-section;
  padding: 1rem;
  flex-basis: 100%;
}
.searchPanel {
  flex-basis: 100%;
}
