@import "@/app/utils/globalColors.scss";
.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  background-color: $bg-container;
  min-width: 60%;
}

.dateGroup {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  .date {
    color: $text-black;
    flex-basis: 100%;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    border-bottom: 3px solid $border-color;
  }
  .appointmentCard {
    &:hover {
      background-color: $bg-hover-light-green;
      cursor: pointer;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: $bg-container;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    .time {
      color: $text-black;
      font-weight: 800;
      font-size: 1.2em;
      margin-bottom: 0.3em;
    }
    .details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-basis: 100%;
      .field {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 0;
        border-bottom: 1px solid $border-color;
        .label {
          font-weight: bold;
          color: $label-color;
          text-decoration: cap;
          text-transform: capitalize;
        }
        .value {
          color: $text-black;
        }
      }
    }
  }
}
.errorMessage {
  color: $text-error;
}
.appointmentScheduler {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  background-color: $bg-section;
  padding: 1rem;
  flex-basis: 100%;
  .appointmentSchedulerButton {
    background-color: $button-submit-bg;
    color: $text-white;
    padding: 0.2rem;
    font-size: 2.5rem;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
  }
  .searchPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
    padding-top: 2rem;

    .searchLabel {
      color: $label-color;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 1.2rem;
    }
    .searchValue {
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;
      .showDetails {
        color: $text-dark-green;
        cursor: pointer;
        flex-basis: 100%;
        font-size: 0.9rem;
        text-decoration: underline;
        line-height: 0.2rem;
        padding-bottom: 1rem;
      }
    }

    .deletePatient {
      color: $text-error;
      cursor: pointer;
    }
    .searchField {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-basis: 100%;
      .searchInput {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid $border-color;
        flex-basis: 80%;
      }
      .searchButton {
        background-color: $button-submit-bg;
        color: $text-white;
        padding: 0.5rem;
        font-weight: 800;
        border-radius: 5px;
        cursor: pointer;
        flex-basis: 15%;
      }
    }
  }
}
