@import "@/app/utils/globalColors.scss";

.detailsGroup {
  flex-basis: 45%;
  background-color: $bg-section;
  padding: 1em;
  margin: 4em 0 1em 0;
  position: relative;
  display: flex;
  flex-direction: column;

  .detailGroupName {
    position: absolute;
    top: -2em;
    left: 0;
    font-size: 1.3em;
    font-weight: 800;
  }

  .name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .detailGroupButton {
    align-self: flex-start;
    background-color: $button-bg;
    color: $text-white;
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $button-bg-hover;
    }
  }
}
