@import "@/app/utils/globalColors.scss";

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.spaceAtBottom {
  padding-bottom: 15em;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  flex-basis: 45%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.switchSelector {
  margin-bottom: 4rem;
  display: flex;
  flex-basis: 100%;
}

.treatmentsWrapper {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $off-white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
}

.sectionWrapper {
  flex-basis: 45%;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: $off-white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1em;

  .navigation {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .navigation button {
    transition-duration: 1s;
    background-color: $blue;
    color: $white;
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 4px;
    cursor: pointer;
  }

  .navigation button:hover {
    background-color: $blue-highlight;
  }

  .bodyPartContainer {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    align-items: center;
    align-content: center;
  }

  .bodyPart {
    flex-basis: 100%;
  }

  .bodyPartHeader {
    margin: 1em 0 1em 0;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: bold;
    color: $dark-green;
  }

  .bodyPartSubHeader {
    color: $black;
    font-size: 1em;
    font-weight: bold;
  }
}

.appointmentCard {
  display: flex;
  flex-basis: 80%;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  .details {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
  }

  .appointmentDate {
    top: -1.2em;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
  }

  .detailsGroup {
    flex-basis: 45%;
    background-color: $off-white;
    padding: 1em;
    margin: 4em 0 1em 0;
    position: relative;

    .detailGroupName {
      position: absolute;
      top: -2em;
      left: 0;
      font-size: 1.3em;
      font-weight: 800;
    }

    .detailGroupButton:hover {
      color: $dark-green;
    }
  }
}

.header {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.5em;
}
.status {
  transition-duration: 1s;
  background-color: $dark-green;
  color: $white;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $green;
  }
}
.button {
  background-color: $dark-green; /* Zgodne z stylem status */
  color: $white;
  border: none;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease; /* Animacja przejść */

  &:hover {
    background-color: $green; /* Zmiana koloru na hover */
    transform: scale(1.05); /* Lekka animacja powiększenia */
  }

  &:focus {
    outline: none; /* Usunięcie obramowania na focus */
  }
}
.detailGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-basis: 100%;
}

.label {
  font-weight: bold;
}

.value {
  flex-basis: 100%;
}

.detailGroup {
  flex-wrap: wrap;
  flex-basis: 100%;
}

.detailGroup {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.musclesAndJointsList {
  margin-top: 1em;
  padding-left: 1em;
}

.musclesAndJointsItemWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.75em;
}

.musclesAndJointsItemWrapper input[type="checkbox"] {
  margin-right: 10px;
}

.subHeader {
  margin-top: 15px;
  font-size: 16px;
  font-weight: semi-bold;
  color: $dark-green;
}

.selectedItemsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-basis: 100%;
}

.selectedItemsHeader {
  font-size: 1.2em;
  font-weight: bold;
  color: $dark-green;
  text-transform: capitalize;
  align-self: stretch;
  flex-basis: 100%;
}

.selectedSectionHeader {
  font-size: 1.1em;
  font-weight: bold;
  color: $black;
  text-transform: capitalize;
  position: absolute;
  top: -1.3em;
  left: 0.1em;
}

.selectedSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-basis: 100%;
  margin: 1.5em 0 0.5em 0;
  background-color: $off-white;
  padding: 0.2em;
  position: relative;
}

.selectedItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: content;
}

.selectedItem {
  display: flex;
  align-items: center;
  flex-basis: content;
  font-size: 0.9em;
  color: $white;
  border-radius: 5px 0 0 5px;
  margin: 0.2em;
}

.selectedItemLabel {
  padding: 0.5em;
  border-radius: 0 5px 5px 0;
  background-color: $green;
  color: $white;
}

.selectedItem .checkbox {
  margin-right: 10px;
}

.removeButton {
  background-color: $selected;
  color: white;
  border: none;
  padding: 0.3em 0.6em;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  align-self: stretch;
}

.removeButton:hover {
  background-color: $red;
}

.editableDetails {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detailsGroup {
  flex-basis: 45%;
  background-color: $off-white;
  padding: 1em;
  margin: 1em 0;
  position: relative;
  display: flex;
  flex-direction: column;

  .label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .commentInput {
    width: 100%;
    min-height: 80px;
    padding: 0.5em;
    border: 1px solid $green;
    border-radius: 4px;
    resize: vertical;
  }

  .checkbox {
    margin-left: 0.5em;
    transform: scale(1.2);
  }

  .detailGroupName {
    position: absolute;
    top: -2em;
    left: 0;
    font-size: 1.3em;
    font-weight: 800;
  }
}

.saveButton {
  background-color: $blue;
  color: $white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 1em;
  min-width: fit-content;
}

.saveButton:hover {
  background-color: $green-highlight;
}

.statusChangeContainer {
  flex-basis: 100%;
  margin-top: 1em;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statusButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 1rem;
}

.addOpinionForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;

  .firstNameAndLastNamePhysio {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    text-align: center;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    span {
      font-size: 1rem;
      font-weight: bold;
      color: #555555;
    }

    .stars {
      display: flex;
      gap: 0.5rem;

      span {
        font-size: 1.5rem;
        color: #f4b400; // złoty kolor gwiazdek
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.2);
        }

        &.filledStar {
          color: #f4b400; // Kolor dla wypełnionych gwiazdek
        }

        &.emptyStar {
          color: #cccccc; // Kolor dla pustych gwiazdek
        }
      }
    }
  }
  .stars {
    display: flex;
    gap: 0.5rem;

    span {
      font-size: 1.5rem;
      color: #f4b400; // złoty kolor gwiazdek
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }

      &.filledStar {
        color: #f4b400; // Kolor dla wypełnionych gwiazdek
      }

      &.emptyStar {
        color: #cccccc; // Kolor dla pustych gwiazdek
      }
    }
  }
  .commentInput {
    width: 100%;
    min-height: 100px;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 0.5rem;
    resize: vertical;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;

    .saveOpinionButton,
    .cancelOpinionButton {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      padding: 0.75rem 1.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.saveOpinionButton {
        background-color: #28a745;
        color: #ffffff;

        &:hover {
          background-color: #218838;
        }

        &:active {
          background-color: #1e7e34;
        }
      }

      &.cancelOpinionButton {
        background-color: #dc3545;
        color: #ffffff;

        &:hover {
          background-color: #c82333;
        }

        &:active {
          background-color: #bd2130;
        }
      }
    }
    .deleteButton {
      background-color: $red; /* Czerwony kolor tła */
      color: $white; /* Kolor tekstu - biały */
      border: none;
      padding: 0.5em 1em;
      font-size: 1.2em;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s ease; /* Animacja przejść */

      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        background-color: $dark-red;
        transform: scale(1.05); /* Lekka animacja powiększenia */
      }

      &:focus {
        outline: none; /* Usunięcie obramowania na focus */
      }
    }
  }
}
.stars {
  display: flex;
  gap: 0.5rem;

  span {
    font-size: 1.5rem;
    color: #f4b400; // złoty kolor gwiazdek
    cursor: pointer;
    transition: transform 0.2s ease;

    &.filledStar {
      color: #f4b400; // Kolor dla wypełnionych gwiazdek
    }

    &.emptyStar {
      color: #cccccc; // Kolor dla pustych gwiazdek
    }
  }
}
.comment {
  font-style: italic;
  color: #667799;
  //$text-muted;
}

.commentInput {
  margin-top: 0.5rem;
  width: 100%;
  height: 8rem;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 14px;
}
// .star {
//   display: block;
//   color: $yellow;
//   margin-right: 2px;
// }

// .stars {
//   display: block;
//   color: $yellow;
//   display: inline-flex;
// }
