@import "../utils/globalColors.scss";

.container {
  max-width: 800px;
  margin: 0 auto; /* Wyśrodkowanie kontenera */
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: $bg-container;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: $text-black;
}

.opinionCard {
  background-color: $bg-white;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 8px $box-shadow-color;
}
.opinionCardEdit {
  background-color: $bg-white;
  border: 1px solid $border-edit-color;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 8px $box-shadow-color;
}

.opinionAuthor,
.opinionRating,
.opinionDate {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: $text-black;
}

.opinionComment {
  font-style: italic;
  color: #667799;
  //$text-muted;
}

.commentInput {
  width: 100%;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 14px;
}

.filled {
  color: gold;
}

.empty {
  color: #ddd;
}

.editButtons {
  display: flex;
  gap: 10px;
}

.editButton {
  display: flex;
  align-items: center;
  background-color: $button-edit-bg;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.saveButton {
  display: flex;
  align-items: center;
  background-color: $button-submit-bg;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cancelButton {
  display: flex;
  align-items: center;
  background-color: $button-cancel-bg-hover;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton {
  background-color: #28a745;
}

.cancelButton {
  background-color: #dc3545;
}

.editButton:hover {
  background-color: darken($button-edit-bg-hover, 10%);
}
.saveButton:hover {
  background-color: darken($button-submit-bg-hover, 10%);
}
.cancelButton:hover {
  background-color: darken($button-cancel-bg-hover, 10%);
}

.editIcon,
.saveIcon,
.cancelIcon {
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pageInfo {
  margin: 0 15px;
}
.star {
  color: $star-color;
  margin-right: 2px;
}

.stars {
  color: $star-color;
  display: inline-flex;
}
