@import "@/app/utils/globalColors.scss";
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modalContent {
  background: $off-white;
  padding: 2rem;
  border-radius: 8px;
  min-width: 45%;
  min-height: 30%;
  max-height: 80%;
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  flex-wrap: wrap;
}

.large {
  max-width: 80%;
  min-width: 80%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.medium {
  max-width: 60%;
  min-width: 60%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.small {
  max-width: 45%;
  min-width: 45%;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 1.5rem;
  background-color: $red;
  color: $white;
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.modalNavigation {
  flex-basis: 100%;
  .header {
    color: $dark-green;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid black;
  }
}
