@import "@/app/utils/globalColors.scss";
.searchLabel {
  color: $grey;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.2rem;
  flex-basis: 100%;
}

.searchValue {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;

  .showDetails {
    color: $dark-green;
    cursor: pointer;
    flex-basis: 100%;
    font-size: 0.9rem;
    text-decoration: underline;
    line-height: 0.2rem;
    padding-bottom: 1rem;
  }
}

.deletePatient {
  color:$error;
  cursor: pointer;
}

.searchField {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-basis: 100%;

  .searchInput {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid $border-color;
    flex-basis: 70%;
  }

  .searchButton {
    background-color: $blue;
    color: $white;
    padding: 0.5rem;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    flex-basis: 15%;
    margin-left: 1rem;
  }
}
