@import "../utils/globalColors.scss";

.container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $bg-container;
  min-width: 30%;
  min-height: 100vh;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: $text-dark-green;
  text-align: center;
}

.loading {
  font-size: 1.5rem;
  color: $text-dark-green;
}

.profileCard {
  background: $bg-container;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
  padding-right: 2%;
  border-bottom: 1px solid $border-color;
}

.label {
  font-weight: bold;
  color: $label-color;
  text-decoration: cap;
  margin-bottom: 0.5rem;
}

.value {
  color: $text-black;
  padding: 0.5rem 0;
  border: 1px solid $border-color; /* Dodanie ramki do pola wartości */
  border-radius: 5px; /* Dodanie zaokrąglonych narożników */
  /* Użycie kolorów tła dla inputów */
}
.error {
  color: red; /* Kolor tekstu błędu */
  font-size: 0.875rem; /* Rozmiar czcionki dla błędu */
  margin-top: 0.25rem; /* Margines powyżej błędu */
  align-self: flex-start; /* Ustawienie błędu po lewej stronie */
}

.nav-links {
  display: flex;
  justify-content: flex-end; /* Ustawienie przycisków na końcu */
  width: 100%;
  margin-top: 1rem;
}

.nav-link {
  background-color: $button-bg;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
