$blue: #5E9FEB;
$blue-highlight: #5ECBEB;
$aqua: #5EEBDD;
$white: #ffffff;
$off-white: #f8f9fa;
$grey: #606B66;
$dark-green: #4a7769;
$green: #6CCB81;
$green-highlight: #5EEBAD;
$yellow: #e1b325;
$celadon: #ACEBE4;
$selected: #F2755A;
$current: #5EEBAD;
$black: #101010;
$error: #F2755A;
$error-highlight: #f8d7da;
$red: #dc3545;
$border-color: #ced4da;