// backgrounds
$bg-page: #fffefd;
$bg-navbar: #9fe4ca;
$bg-black: #000000;
$bg-dark-green: #197b5c;
$bg-light-green: #47ffa6;
$bg-white: #fffefd;
$bg-container: #fffefd;
$bg-section: #f9f9f9;
$bg-label: #fff;

// backgrounds hover
$bg-hover-light-green: #e0fff0;
$bg-hover-dark-green: #197b5c;
$bg-hover-light-blue: #eef6ff;

// text
$text-white: #fffefd;
$text-light-green: #47ffa6;
$text-dark-green: #197b5c;
$text-black: #000;
$text-error: #f15454d2;
$text-grey: #696969;

// buttons
$button-bg: #0aca81;
$button-submit-bg: #197b5c;
$button-cancel-bg: #f15454;
$button-edit-bg: #daa520;

// buttons hover
$button-bg-hover: #008042;
$button-submit-bg-hover: #197b5cab;
$button-cancel-bg-hover: #f15454d2;
$button-edit-bg-hover: #b1871b;

// labels
$label-color: #197b5c;
$label-color-grey: #333;
$label-color-box: #000000;
//labels
$label-hover-upload: #007bff;
$label-select-box: rgba(0, 123, 255, 0.5);
//inputs
$input-border: #197b5c;
$input-color: #000000;
$input-upload-avatar: #f9f9f9;

// borders
$border-color: #197b5c;
$border-edit-color: #daa520;
$border-upload-avatar: #ccc;
$border-color-black: #000000;
$border-title: #ddd;
// borders hover
$border-upload-avatar-hover: #007bff;
$border-label-hover: #ccc;

// Body parts
$hight-light-color: #ffc23f;

// Tags
$tag-bg: #ffae00;

// --------------------------------------------------
// calendar
$neutral-background: #f7f9fc;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$header-background: #eeeeee;
$header-text-color: #000000;
$nav-button-background: #197b5c;
$nav-button-hover-background: #ff7675;
$days-background: #6c757d;
$days-text-color: #f8f9fa;
$cell-border-color: #e9ecef;
$cell-disabled-color: #adb5bd;
$cell-disabled-background: #e9ecef;
$cell-today-background: #007bff;
$cell-selected-background: #28a745;
$cell-hover-background: #495057;

//star
$star-color: #ffbc00;

//---------------------------------------------------
// modal, profile
$text-color: #000000;
$primary-color: #0056b3;
$secondary-color: #007bff;
$background-light: #f9f9f9;
$background-medium: #eef6ff;
$background-dark: #ffffff;
$border-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);
$hover-color: #003f7d;
$active-color: #002d5c;
$highlight-color: #004d00;
