$blue: #5e9feb;
$blue-highlight: #5ecbeb;
$aqua: #5eebdd;
$white: #ffffff;
$off-white: #f8f9fa;
$grey: #606b66;
$dark-green: #4a7769;
$green: #6ccb81;
$green-highlight: #5eebad;
$yellow: #e1b325;
$yellow-highlight: #dcbe65;
$celadon: #acebe4;
$selected: #f2755a;
$current: #5eebad;
$black: #101010;
$error: #f2755a;
$error-highlight: #f8d7da;
$red: #dc3545;
$border-color: #ced4da;
$azure: #f0ffff;
$grey-highlight: #d3d3d3;
