@import "@/app/utils/globalColors.scss";

.detailField {
  margin-bottom: 1em;
  .label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

.nonEditableField {
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: default;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    background-color: $off-white;
    border-color: $dark-green;
    cursor: text;
  }

  .value {
    font-size: 1em;
  }
}

.textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid $border-color;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  font-size: 1em;
}

.checkboxContainer {
  display: flex;
  align-items: center;

  .checkbox {
    margin-right: 0.5em;
    transform: scale(1.2);
  }
}
