@import "@/app/utils/globalColors.scss";

.statusButtonContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    justify-content: flex-start;
    margin: 0.1rem;
    font-size: 0.8rem;
    overflow: scroll;
    flex-wrap: nowrap;
  }
}

.statusButton {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 2px solid $blue;
  background-color: $white;
  color: $dark-green;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  @media (max-width: 768px) {
    padding: 0.1rem 0.5rem;
  }

  &:hover {
    background-color: $blue-highlight;
    border: 2px solid rgba(0, 0, 0, 0.0);
    color: $white;
    transition-duration: 1s;
  }
}

.selected {
  background-color: $blue;
  color: $white;
  border-color: $blue;
}
