@import "@/app/utils/globalColors.scss";
@import "../utils/globalColors.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 30%;
  max-width: 50%;
  background-color: $off-white;

  @media (max-width: 768px) {
    padding: 1rem;
    max-width: 90%;
  }

  @media (max-width: 480px) {
    max-width: 100%;
  }
}

.formContainer {
  background-color: $off-white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;

  @media (max-width: 480px) {
    padding: 1rem;
    border-radius: 6px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;

  @media (max-width: 480px) {
    padding: 0 1rem;
  }
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: $black;

  @media (max-width: 768px) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 1.8rem;
  }
}

.label {
  margin-bottom: 0.3rem;

  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}

.input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid $border-color;
  border-radius: 4px;

  @media (max-width: 480px) {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 10px;
  }
}

.button,
.submitButton {
  padding: 10px 20px;
  background-color: $green;
  color: $white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $green-highlight;
  }

  @media (max-width: 480px) {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

.submitButton {
  background-color: $dark-green;

  &:hover {
    background-color: lighten($dark-green, 10%);
  }
}

.toggleButton {
  margin-top: 1rem;
  background-color: $green;
  color: $white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $dark-green;
  }

  @media (max-width: 480px) {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}

.registrationFields {
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    gap: 10px;
  }
}

.error {
  color: red;
  margin-bottom: 15px;

  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}

